:root {
  --black: rgb(0 0 0);
  --white: rgb(255 255 255);
  --stone-50: rgb(250 250 249);
  --stone-100: rgb(245 245 244);
  --stone-200: rgb(231 229 228);
  --stone-300: rgb(214 211 209);
  --stone-400: rgb(168 162 158);
  --stone-500: rgb(120 113 108);
  --stone-600: rgb(87 83 78);
  --stone-700: rgb(68 64 60);
  --stone-800: rgb(41 37 36);
  --stone-900: rgb(28 25 23);

  --highlight-default: #ffffff;
  --highlight-purple: #f6f3f8;
  --highlight-red: #fdebeb;
  --highlight-yellow: #fbf4a2;
  --highlight-blue: #c1ecf9;
  --highlight-green: #acf79f;
  --highlight-orange: #faebdd;
  --highlight-pink: #faf1f5;
  --highlight-gray: #f1f1ef;
}

.dark-theme {
  --black: rgb(255 255 255);
  --white: rgb(25 25 25);
  --stone-50: rgb(35 35 34);
  --stone-100: rgb(41 37 36);
  --stone-200: rgb(66 69 71);
  --stone-300: rgb(112 118 123);
  --stone-400: rgb(160 167 173);
  --stone-500: rgb(193 199 204);
  --stone-600: rgb(212 217 221);
  --stone-700: rgb(229 232 235);
  --stone-800: rgb(232 234 235);
  --stone-900: rgb(240, 240, 241);

  --highlight-default: #000000;
  --highlight-purple: #3f2c4b;
  --highlight-red: #5c1a1a;
  --highlight-yellow: #5c4b1a;
  --highlight-blue: #1a3d5c;
  --highlight-green: #1a5c20;
  --highlight-orange: #5c3a1a;
  --highlight-pink: #5c1a3a;
  --highlight-gray: #3a3a3a;
}
